@import "../Color.js/color";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile_conatiner {
    margin-top: 1rem;

    .MuiAccordion-rounded {
        box-shadow: none !important;
        position: inherit !important;
        border-radius: 12px !important;
        border: 1px solid $placeholder-color !important;
    }

    .yequality {
        margin-top: 1rem;
        height: 600px;
        overflow: auto;

        .mainaccordion {
            margin-top: 0.5rem;
        }

        .heading {
            display: flex;
            align-items: center;
            gap: 4px;

            .accountl {
                font-weight: 300;
                color: $lable-color;
                font-size: 1rem;
            }

            .accounti {
                color: $lable-color;
                font-size: 1.5rem;
                margin-right: 4px;

            }
        }

        .account_container {
            .account_form {
                display: flex;
                gap: 15px;
                align-items: center;
            }

            .input_constiner {
                width: 30%;

                .namel {
                    font-weight: 600;
                    margin-bottom: 0.2rem;
                    color: $font_color;
                    font-size: 1rem;
                }

                .namei {
                    width: 100%;
                }
            }

            .save_button {
                color: $white;
                margin-top: 1.5rem !important;
                width: 6rem !important;
                font-size: 16px;
                height: 2.7rem;
                font-family: $font-family;
                text-transform: capitalize;
            }



            .btns {
                margin-top: 1.5rem !important;
                background-color: $primary;
                color: $white;
                text-transform: capitalize;
                font-family: $font-family;
                height: 2.7rem;
                font-size: 16px;
                width: 6rem !important;
            }

            .loader {
                margin-top: 1.5rem;
            }
        }

        .companyAccordion {
            margin-top: 0.8rem;


            .comapany_conatiner {
                .comapany_form {
                    display: flex;
                    gap: 15px;
                    align-items: center;


                    .input_constiner {
                        width: 30%;

                        .namel {
                            font-weight: 600;
                            margin-bottom: 0.2rem;
                            color: $font_color;
                            font-size: 1rem;
                        }

                        .namei {
                            width: 100%;
                        }
                    }

                    .btns {
                        margin-top: 1.5rem !important;
                        color: $white;
                        text-transform: capitalize;
                        font-family: $font-family;
                        height: 2.7rem;
                        font-size: 16px;
                        width: 6rem !important;
                    }

                    .loader {
                        margin-top: 1.5rem;
                    }
                }
            }
        }
    }
}


.list {
    margin-top: 1rem;

    .user_list_profile {

        box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
        border-radius: 10px !important;
        height: 4rem !important;
        display: flex;
        align-items: center;

        .user_conatiner {
            display: flex;
            justify-content: space-between;
        }

        .user_list_content {
            height: 100%;
            justify-content: center;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;

            .accounti {
                color: $primary;
                font-size: 1.5rem;
            }
        }

        .showmore_icon {
            .icon {
                font-size: 1.6rem;
                border: 2px solid $primary;
                border-radius: 50%;
                color: $primary;
            }
        }

    }
}

//account drawer

.adrawer {

    .aheading_paper {
        box-shadow: $placeholder-color 0px 0px 0px 1px, $white 0px 0px 0px 1px inset;
        padding: 0.5rem;

        .aheading {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .aheading_text {
                font-size: 20px;
            }

            .aclose_icon {
                cursor: pointer;
                margin-top: 4px;
            }
        }
    }

    .account_form {

        padding: 0.5rem;


        .input_constiner {
            margin-top: 1rem;

            .namel {
                font-weight: 600;
                margin-bottom: 0.2rem;
                color: $font_color;
                font-size: 1rem;
                margin-left: 0.2rem;
                margin-bottom: 0.2rem;
            }

            .namei {
                width: 100%;
            }

        }

        .yebtns {
            right: 0;
            bottom: 0;
            position: absolute;
            margin-bottom: 1rem;
            margin-right: 1rem;
            display: flex;
            justify-content: space-between;

            .save_button {
                color: $white;
                width: 6rem !important;
                font-size: 16px;
                height: 2.7rem;
                font-family: $font-family;
                text-transform: capitalize;
            }

            .yebtn_cancel {
                background-color: $white;
                color: $font_color;
                text-transform: capitalize;
                font-family: $font-family;
                border-color: $font_color;
                height: 2.7rem;
                font-size: 16px;
                width: 6rem !important;
            }
        }


    }


}