@import "./Color.js/color";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
}

.MuiInputBase-input {
    font-family: $font-family !important;
}

.MuiFormHelperText-root {
    font-family: $font-family !important;
    color: $red !important;
    // text-transform: capitalize;
    font-weight: 800 !important;
}

.login-container {
    .MuiInputBase-root {
        border-radius: 12px !important;
        height: 50px;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../assets/img/background.svg);
    background-repeat: no-repeat;

    .login_pepar {
        border-radius: 40px !important;
        width: 1080px !important;

        // img
        .login_img {
            width: 50%;

            .img-wrapper {
                margin: 1rem 1rem 0.8rem 00rem !important;

                img {
                    width: 100%;
                }
            }
        }

        //form
        .forms_container {
            display: flex !important;
            align-items: center !important;
            width: 50%;
            justify-content: center;

            .main {
                width: 400px;
                margin: 00px 00px !important;

                .login_dec_wrapper {
                    margin-top: 1.3rem;
                    width: 100%;

                    .login_desc {
                        font-weight: 500;
                        color: $light-color;
                    }

                    .login_tital {
                        margin-bottom: 0.1rem;
                        font-size: 20px;
                    }
                }


                .login_filed {
                    width: 100%;

                    .MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
                        border-color: $primary !important;
                    }

                    .phon_input {
                        margin: 2.5rem 0;

                        .error {
                            color: $primary;
                            font-size: 0.9rem;
                            font-weight: 600;
                        }
                    }

                    .btn-out {
                        position: relative;
                        width: 100%;

                        .login_button {
                            position: relative;
                            width: 100% !important;
                        }

                        .loader {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            margin-top: 1.5rem !important;

                        }

                        //otp link
                        .link {
                            font-family: $font-family ;
                        }
                    }
                }
            }
        }
    }
}

// custome_buttons
.buttoms_login {
    font-family: $font-family !important;
    text-transform: capitalize !important;
    font-weight: 600 !important;
    font-size: 15px !important;
    border-radius: 12px !important;
    color: $white !important;
    width: 100% !important;
    height: 3.1rem !important;
}

// phon number
.react-tel-input .form-control {
    font-family: $font-family !important;
    width: 100% !important;
    height: 45px !important;
}

.react-tel-input .country-list .country-name {
    font-family: $font-family !important;
}

.react-tel-input .country-list .country .dial-code {
    font-family: $font-family !important;
}


@media (max-width: 1000px) {
    .login-container {
        background-image: none !important;
        width: 100% !important;

        .login_pepar {
            width: 100% !important;
            height: 100vh;
            display: flex !important;
            align-items: center;
            justify-content: center;
            border-radius: 0rem !important;

            .login_img {
                display: none;
            }
        }
    }
}

@media (max-width: 700px) {

    .login-container {

        .login_pepar {
            width: 100% !important;
            border-radius: 0rem !important;

            .main {
                width: 400px !important;

                .login_tital {
                    font-size: 1.1rem !important;
                }

                .login_desc {
                    font-size: 0.9rem !important;
                }
            }

        }
    }
}