$primary : #E89E46;
$secondary:rgba(232, 158, 70, 0.1);
$font_color  : #2D3748;
$background_color : #F5F5F5;
$box-shadow : #e8e8eb;
$white : white;
$bodar_color : rgba(224, 224, 224, 1);
$font-family: 'Poppins', sans-serif;
$light-color:rgb(150, 155,163);
$lable-color:#666666;
$placeholder-color:rgb(188,188,188);
$black :black;
$button_color :  #E89E4680;
$red:red;
$green:green;
$grey :grey;
$background-btn: #EAEAEA;
$box-shadow-user_profile:rgba(0, 0, 0, 0.1);
$tables-bottom:rgb(223, 223, 223);
$muipaper-box-shadow:rgba(99, 99, 99, 0.2);
$muiPaper-root-shadow:rgba(0, 0, 0, 0.04);
$from_paper-box-shadow:rgba(100, 100, 111, 0.2);
$box-border:#ccc;
$from-close-button:#999;
$from-close-button-hover: #333;



