@import "../Color.js/color";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
}

.MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: $red !important;
}


.MuiList-root,
.MuiList-padding,
.MuiMenu-list,

.css-6hp17o-MuiList-root-MuiMenu-list {
    max-height: 300px !important;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    box-shadow: none !important;

    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px !important;

}

.editpage_loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.add_form {

    .MuiInputBase-root {

        border-radius: 7px !important;
        height: 45px;
    }

    margin-top: 1rem;

    //heaqding
    .add_heading {
        display: flex;
        align-items: center;
        justify-content: space-between;


        .first_heading {
            display: flex;
            align-items: center;



            .add_arrow {
                background-color: $primary;
                color: $white;


                .add_qicon {
                    font-size: 20px;
                }

            }

            .add_tital {
                margin-left: 1rem;
                font-size: 1.3rem;
            }

        }

        .second_heading {
            .btn_weight {
                font-weight: 600;
                background-color: $button_color;
                border-color: $black;
                font-family: $font-family;
                color: $black;
                text-transform: capitalize;
                height: 2.5rem;
                // width: 8.5rem;
            }

            .btn_cost {
                background-color: $button_color;
                border-color: $black;
                color: $black;
                font-family: $font-family;
                text-transform: capitalize;
                font-weight: 600;
                height: 2.5rem;
                // width: 8.5rem;
            }
        }

        .add_btn {
            .btn_save {
                background-color: $primary;
                color: $white;
                text-transform: capitalize;
                font-family: $font-family;
                width: 6rem;
                font-size: 16px;
                height: 2.5rem;
            }
        }
    }






    //from

    .from_paper {


        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 1.2rem;
        margin-top: 1.3rem;
        border-radius: 30px;

        .add_form_filed {


            .label {
                font-family: $font-family ;
                font-weight: 500;
                color: $black;

            }

            .qulaity_label {
                font-weight: 600 !important;
                color: $black;
                font-size: 1rem;
                font-size: 17px;
            }

            .quality_input {
                margin-top: 0.5rem;
                width: 50%;
            }


            .abc {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }

            .box {
                width: 200px;
                height: 150px;
                border: 1px solid #ccc;
                margin: 10px;
                position: relative;
            }

            .content {
                padding: 10px;
            }

            .close-button {
                position: absolute;
                top: -9px;
                right: -6px;
                background: transparent;
                border: none;
                cursor: pointer;
                font-size: 18px;
                color: #999;
            }

            .close-button:hover {
                color: #333;
            }




            .add_form_btns {
                margin-top: 0.7rem;


                .btn_warp {
                    color: $black;
                    font-family: $font-family;
                    text-transform: capitalize;
                    font-weight: 500;
                    height: 2.5rem;
                    width: 20rem;
                    font-size: 1rem;
                    display: flex;
                    justify-content: space-between;


                    .css-9tj150-MuiButton-endIcon {
                        margin-right: -18px
                    }

                    .add_waicons {

                        background-color: $primary;
                        color: $white !important;
                        border-radius: 0 7px 7px 0;


                        .add_waicons_button {
                            color: white;
                        }

                    }
                }

                .btn_weft {
                    color: $black;
                    font-family: $font-family;
                    text-transform: capitalize;
                    font-weight: 500;
                    height: 2.5rem;
                    width: 20rem;
                    font-size: 1rem;
                    display: flex;
                    justify-content: space-between;
                    width: 100;


                    .css-9tj150-MuiButton-endIcon {
                        margin-right: -18px
                    }

                    .add_weicons {

                        background-color: $primary;
                        color: $white !important;
                        border-radius: 0 7px 7px 0;

                        .add_weicons_button {
                            color: white;
                        }

                    }

                }

                .error-text {
                    font-weight: 600;
                    color: $red;
                    font-size: 0.75rem;
                    margin-top: 0.3rem;
                }
            }

            .wrap_box {
                display: flex;
                // flex-direction: row;
                flex-wrap: wrap;
                position: relative;

                .close_icon {
                    display: flex;
                    justify-content: flex-end;
                    cursor: pointer;
                    position: absolute;
                    top: -7px;
                    right: -8px;
                    z-index: 1;

                    .close {
                        font-size: 19px !important;
                        color: $primary !important;

                    }
                }


                .box_content {
                    border: 2px dashed $primary;
                    border-radius: 20px;
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    width: 20rem;
                    height: 9rem;
                    padding: 0.5rem;
                    margin-right: 3rem;
                    position: relative;



                    .heading_text {
                        font-size: 14px;
                        color: $lable-color;
                        font-weight: 600 !important;
                    }

                    .heading1 {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                    }

                    .heading2 {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        border-bottom: 1px dashed $font_color;
                    }

                    .after_heading {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        margin-top: 0.5rem;
                    }

                    .dashed_border {

                        border-left: 1px dashed $font_color;
                    }


                }

            }




            .expense_pepar {
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                padding: 0.5rem;
                margin-top: 0.5rem;
                border-radius: 10px;

                .add_expense {

                    .costs {
                        display: flex;
                        align-items: center;
                        width: 100%;

                        .cost_label {
                            margin-top: 0.2rem;
                            margin-left: 1rem;
                            font-weight: 600 !important;

                        }

                        .expense_radios {


                            .radios {
                                margin-top: 0.2rem;
                            }
                        }

                        .expense_wraps {
                            display: flex;
                            align-items: center;

                        }
                    }


                    .MuiFormControlLabel-label {
                        color: $font_color;
                        font-weight: 500 !important;
                    }
                }
            }

            .productions_pepar {
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                padding: 0.5rem;
                margin-top: 0.5rem;
                border-radius: 10px;

                .add_production {

                    .production_input_wrap {
                        margin-top: 1rem;
                        display: flex;
                        align-items: center;
                    }

                }
            }


            .info_pepar {
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                padding: 0.5rem;
                margin-top: 0.5rem;
                border-radius: 10px;

                .add_info {
                    .add_info_wrap {
                        margin-top: 1rem;
                        display: flex;
                        align-items: center;
                        width: 100%;

                        .info_input {
                            align-items: center;
                            justify-content: space-between;
                        }
                    }
                }
            }
        }
    }
}

// wrap

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    display: flex;
    justify-content: space-between;
}

.drawer {

    .MuiInputBase-root {

        border-radius: 12px !important;
        height: 50px;
    }

    position: relative;

    .heading_paper {
        box-shadow: $placeholder-color 0px 0px 0px 1px, $white 0px 0px 0px 1px inset;
        padding: 0.5rem;

        .heading {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .close_icon {
                cursor: pointer;
                margin-top: 4px;

            }

        }

    }



    .from {
        margin-top: 1rem;
        padding: 00 10px;

        .yarns_wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .yarn_select {
                width: 98%;
            }


            .add_icon {
                background-color: $primary;
                border-radius: 7px;

                .add_yarn {
                    color: $white;
                    cursor: pointer;
                    font-size: 28px;

                }
            }



        }

        .company_wrap {
            margin-top: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .company_menu {
                font-family: $font-family !important;
            }

            .company_select {
                width: 98%;
            }

            .add_icon {
                background-color: $primary;
                border-radius: 7px;

                .add_company {
                    color: $white;
                    cursor: pointer;
                    font-size: 28px;
                }
            }


        }


        .input_all {
            margin-top: 1rem;

            .inputs {


                margin-top: 0.8rem;

                .drawer_label {
                    font-weight: 500;
                    color: $black;
                    margin-bottom: 0.2rem;
                    margin-left: 0.3rem;
                }

                .input {
                    width: 100%;

                }

            }
        }


        .btns {
            right: 0;
            bottom: 0;
            position: absolute;
            margin-bottom: 1rem;
            margin-right: 1rem;
            display: flex;
            justify-content: space-between;

            .btn_done {

                background-color: $primary;
                color: $white;
                text-transform: capitalize;
                font-family: $font-family;
                // width: 100%;
                height: 2.7rem;
                font-size: 16px;
                margin-top: 1rem;
                width: 6rem !important;

            }

            .btn_cancel {
                background-color: $white;
                color: $font_color;
                text-transform: capitalize;
                font-family: $font-family;
                border-color: $font_color;
                height: 2.7rem;
                font-size: 16px;
                margin-top: 1rem;
                width: 6rem !important;
            }
        }

    }
}


//yarn
.ydrawer {

    .yheading {
        display: flex;
        justify-content: space-between;
        margin-top: 0.9rem;
        padding: 0 5px;
        border-bottom: 1px dashed $font_color;

        .icons {
            display: flex;


            .add_icon {
                color: $primary;
                width: 30px;
                cursor: pointer;
            }

            .close_icon {
                cursor: pointer;
            }
        }
    }
}

//add yarn

.ydialog_container {
    .MuiInputBase-root {

        border-radius: 12px !important;
        height: 45px;
    }

    .invite_dialog_tital {

        .ydialog_close {
            cursor: pointer;
            // margin-top: 0.5rem !important;
            font-size: 20px !important;
            position: absolute !important;
            top: 0;
            right: 0;
            margin-right: 8px !important;
            margin-top: 5px !important;
        }
    }

    .ydialog_content {

        .label {
            font-family: $font-family;
            font-weight: 600;
            margin-bottom: 0.4rem;
            color: $font_color;
        }

        .yratewrap {
            margin-top: 1rem;
        }

    }

    .btns {
        display: flex;
        justify-content: center;
        margin-top: 1rem;

        .ycancel {
            background-color: $white;
            color: $font_color;
            text-transform: capitalize;
            font-family: $font-family;
            border-color: $font_color;
            height: 2.7rem;
            font-size: 16px;
            margin-top: 1rem;
            width: 6rem !important;
            width: 6rem !important;

        }

        .yadd {
            background-color: $primary;
            color: $white;
            text-transform: capitalize;
            font-family: $font-family;

            height: 2.7rem;
            font-size: 16px;
            margin-top: 1rem;
            width: 6rem !important;
        }
    }

    .MuiDialog-paper {
        border-radius: 20px !important;
        width: 400px;
    }

}


//add_company
.cdialog_container {
    .MuiInputBase-root {

        border-radius: 12px !important;
        height: 45px;
    }

    .cadd_dialog_tital {

        .cdialog_close {
            cursor: pointer;
            // margin-top: 0.5rem !important;
            font-size: 20px !important;
            position: absolute !important;
            top: 0;
            right: 0;
            margin-right: 8px !important;
            margin-top: 5px !important;
        }
    }

    .cdialog_content {

        .label {
            font-family: $font-family;
            font-weight: 600;
            margin-bottom: 0.4rem;
            color: $font_color;
        }

    }

    .btns {
        display: flex;
        justify-content: center;
        margin-top: 1rem;

        .ccancel {
            background-color: $white;
            color: $font_color;
            text-transform: capitalize;
            font-family: $font-family;
            border-color: $font_color;
            height: 2.7rem;
            font-size: 16px;
            margin-top: 1rem;
            width: 6rem !important;
            width: 6rem !important;

        }

        .cadd {
            background-color: $primary;
            color: $white;
            text-transform: capitalize;
            font-family: $font-family;

            height: 2.7rem;
            font-size: 16px;
            margin-top: 1rem;
            width: 6rem !important;
        }
    }

    .MuiDialog-paper {
        border-radius: 20px !important;
        width: 400px;
    }

}


//condialog
.MuiDrawer-paperAnchorRight {
    width: 500px !important;
}

.cdialog {

    .cdialog_wraper {
        display: flex;
        flex-direction: column;
        align-items: center !important;

        .cdialog_tital_heading {
            text-align: center;
            font-weight: 600;
            font-size: 20px !important;
            margin-bottom: 5px;


        }

        .cdialog_info {
            text-align: center;

        }

    }


    .cdialog_cancel {
        color: $font_color !important;
        border-color: $font_color !important;
        font-family: $font-family !important;
        text-transform: capitalize !important;
        margin-top: -10px !important;
        margin-bottom: 12px !important;
        height: 2.6rem;
    }

    .cdialog_yes {
        text-transform: capitalize !important;
        font-family: $font-family !important;
        background-color: $primary;
        color: $white !important;
        box-shadow: none !important;
        margin-top: -10px !important;
        margin-bottom: 12px !important;
        width: 80px !important;
        height: 2.6rem;
        margin-left: 0.5rem;
    }

    .MuiDialog-paper {
        border-radius: 20px !important;
        width: 400px;
    }

}