$primary : #E89E46;
$secondary:rgba(232, 158, 70, 0.1);
$font_color  : #2D3748;
$background_color : #F5F5F5;
$box-shadow : #e8e8eb;
$white : white;
$bodar_color : rgba(224, 224, 224, 1);
$font-family: 'Poppins', sans-serif;
$light-color:rgb(150, 155,163);
$lable-color:#666666;
$placeholder-color:rgb(188,188,188);
$black :black;

